.description {
  padding-top: 0;
}

.description-title {
  margin-bottom: 50px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.description-list {
  display: flex;
  margin-left: -30px;
}

.description-item {
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.description-overlay {
  position: relative;
}

.description-img-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.description-title-img {
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-text-color);
}
