.contact-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-list__item > a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-list__adress {
  color: var(--third-text-color);
}

.contact-list__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--accent-color);
}
