.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--accent-color);
    outline: none;
  }
}

.current {
  color: var(--accent-color);

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
