.main-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.main-contact__item:not(:last-child) {
  margin-right: 50px;
}

.main-contact__link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline: none;
  }
}

.main-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
