.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 1199px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
