.contact-form__description {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.contact-form__field {
  display: block;
  margin-bottom: 10px;
}

.contact-form__label-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.contact-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form__icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.contact-form__checkbox-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-form__checkbox-label {
  display: flex;
  align-items: center;
}

.contact-form__checkboxl {
  position: absolute;
}

.contact-form__icon-checkbox-wrapper {
  position: relative;
  width: 16px;
  height: 15px;
  border-radius: 1px;
  border: 1px solid var(--primary-text-color);

  margin-right: 7px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  fill: var(--logo-footer-text-color);
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__checkboxl:checked
  + .contact-form__icon-checkbox-wrapper
  > .contact-form__checkbox-icon {
  opacity: 1;
  background-color: var(--accent-color);
}

.contact-form__checkboxl:focus + .contact-form__icon-checkbox-wrapper {
  outline: 1px solid var(--primary-text-color);
}

.contact-form__checkboxl:checked + .contact-form__icon-checkbox-wrapper {
  border: transparent;
  outline: transparent;
}

.contact-form__accept-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-form__link {
  color: var(--accent-color);
}

.contact-form__submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__submit-btn:hover,
.contact-form__submit-btn:focus {
  background-color: var(--button-hover-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}
